* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    background-color: #CD5C08;
}

.logo {
    height: 150px;
}

.enlace{
    color: white;   
}

a.enlace{
    text-decoration: none;
}
/*-----------------------------------------------------------------MAIN-----------------------------------------*/

div.container{
    background-color: #F5E8B7;
    margin: 0;
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 0px;
    

}


.titulo {
    font-family: 'Mr Dafoe', cursive;
    font-size: 50px;
}

.flex-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    background-color: #C1D8C3;
    width: 300px;
    height: 525px;

}

.cafe img {

    width: 100%;
    height: auto;
    margin: 0;
}

.cafeteria img {
    width: 100%;
    height: auto;
    margin: 0;
}

.cafe {
    padding: 20px;
}


.cafeteria {
    padding: 20px;
}



