* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    background-color:#CD5C08; 
}

.logo {
    height: 150px;
}



.col-8 {
    margin-right: 110px;
}

main.container{
    margin-left: 0px;
    margin-right: 0px;
}

.titulo {
    font-family: 'Mr Dafoe', cursive;
    font-size: 50px;
}



.footer .container {
    background-color:chocolate;
}





